* {
  margin: 0;
  padding: 0;
}

/* @font-face {
  font-family: Fredoka;
  src: url(./Fredoka/FredokaOne-Regular.ttf);
  font-weight: 400;
} */

/* @font-face {
  font-family: mrs;
  src: url(./mrs/mrsmonster.ttf);
  font-weight: 400;
} */

/* @font-face {
  font-family: yusei;
  src: url(./yusei/YuseiMagic-Regular.ttf);
  font-weight: 400;
} */

body {
  background-color: #211a1e;
  color: #16697a;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 60%;
  height: 400px;
  padding: 40px;
  background-color: #9bc53d;
  box-shadow: 0px 6px 9px 5px rgba(62, 79, 24, 0.69);
  border-radius: 20px;
}

.card-title {
  font-size: 35px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*  font-family: Fredoka; */
}

.space {
  content: " ";
  width: 90%;
  border: 1px solid rgba(175, 0, 105, 1);
  border-radius: 30%;
  margin: 20px 0;
}

.card-title > h1 > span {
  background: linear-gradient(-45deg, rgba(175, 0, 105, 1) 20%, #16697a 60%);
  -webkit-background-clip: text;
  color: transparent;
}

.card-info {
  font-size: 130%;
  padding: 30px;
  text-align: center;
  /* font-family: yusei; */
}

.card-info-extra {
  font-size: 130%;
  margin-top: 20px;
  padding: 0 30px;
  /*   font-family: mrs; */
}
